.circular-buttons {
    -fx-background-color: radial-gradient(center 50% 50% , radius 190% , #00147F, #ffffff);
    -fx-background-radius: 100;
}
.circular-buttons:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 110% , #00147F, #ffffff);
}
.circular-buttons:pressed {
    -fx-background-color: radial-gradient(center 50% 50% , radius 200% , #000B42, #ffffff);
}

.background-btns {
    -fx-background-radius: 100;
    -fx-background-color: #171923;
}

.split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

#arrow-back {
    -fx-background-image: url("img/arrow_back.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50% 50%;
}

#arrow-forward {
    -fx-background-image: url("img/arrow_forward.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50% 50%;
}

#btn-play {
    -fx-background-image: url("img/play.png");
    -fx-background-position: 60%, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60% 60%;
}
#btn-play:selected {
    -fx-background-image: url("img/pause.png");
    -fx-background-position: center;
    -fx-background-size: 37% 46%;
}

#btn-next-song {
    -fx-background-image: url("img/next_song.png");
    -fx-background-position: 60%, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35% 55%;
}
#btn-previous-song {
    -fx-background-image: url("img/previous_song.png");
    -fx-background-position: 40%, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35% 55%;
}

#btn-stop {
    -fx-background-color: #E1E1E1;
}
#btn-stop:hover {
    -fx-background-color: white;
}

#btn-stop:pressed {
    -fx-background-color: #CCCCE6;
}

.btn-change-track {
    -fx-background-color: linear-gradient(#3b3d4b 0%, #2c2d3a 80%);
    -fx-background-radius: 15;
}
.btn-change-track:hover {
    -fx-background-color: linear-gradient(#5A5B63 0%, #2c2d3a 100%);
}
.btn-change-track:pressed {
    -fx-background-color: linear-gradient(#3b3d4b 0%, #191A21 80%);
}

.trasnparent-buttons {
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80% 80%;
}

#btn-volume {
    -fx-background-image: url("img/volume.png");
}
#btn-volume:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #9b9b9b, #171923);
}
#btn-volume:selected {
    -fx-background-image: url("img/volume_mute.png");
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #7f7f82, #171923);
}


#btn-repeat {
    -fx-background-image: url("img/repeat.png");
}
#btn-repeat:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #9b9b9b, #171923);
}
#btn-repeat:selected {
    -fx-background-image: url("img/repeat_one.png");
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #7f7f82, #171923);
}


#btn-random {
    -fx-background-image: url("img/random.png");
    -fx-background-size: 80% 65%;
}
#btn-random:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #9b9b9b, #171923);
}
#btn-random:selected {
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #7f7f82, #171923);
}

#btn-full-screen {
    -fx-background-image: url("img/full_screen.png");
}
#btn-full-screen:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 35% , #9b9b9b, #171923);
}


.nav-bar {
    -fx-background-color: linear-gradient(#2f3038 0%, #171923 80%);
}

.progress-fill .track {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#3E454F 5%, #3A3B45 80%);
}
.progress-fill .bar {
    -fx-background-color: linear-gradient(#8e8dd4 0%, #3634e6 80%);
    -fx-background-insets:0;
}

.progress-slider .thumb {
    -fx-background-color: radial-gradient(center 50% 50% , radius 220% , #3041d7, #ffffff);
}
.progress-slider .track {
    -fx-background-color: transparent;
}
.progress-slider .thumb:hover {
    -fx-background-color: radial-gradient(center 50% 50% , radius 120% , #3041d7, #ffffff);
}
.progress-slider .thumb:pressed {
    -fx-background-color: radial-gradient(center 50% 50% , radius 200% , #3635aa, #ffffff);
}

.album-art {
    -fx-background-image: url("img/Media-Player-icon.png");
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    
}